#infinity-study-card-list {
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .loading-spinner {
    margin-bottom: vw(30px);
    width: vw(50px);
    height: vw(50px);
    animation: spin 1s linear infinite;
  }
  .observerTarget {
    width: 100%;
    height: vw(40px);
  }
}
