.mypage-sidebar {
  padding: vw(70px) 0 0 vw(135px);
  width: vw(270px);

  .profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: vw(40px);

    .profile-mini-img {
      height: vw(90px);
      width: vw(90px);
      fill: $pink-sub;
    }
    & :last-child {
      padding: vw(20px);
      text-decoration: underline;
      color: $pink-sub;
    }

    * {
      margin: vw(5px);
    }
  }

  .menu {
    .sub-menu-title {
      color: $gray-76;
    }
    .sub-menu-title.active {
      color: $pink-sub;
    }
  }

  a {
    display: block;
    margin: vw(14px) vw(5px);
  }
}
