.activity {
  width: 100%;
  height: vw(100px);
  display: flex;
  justify-content: space-around;

  .divider {
    border: 1px solid $GRAY-DB;
  }
  .activity-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .activity-item-title {
      padding: 10px;
    }
  }
}
