.check_pass,
.mypage_compo {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  margin: 0 vw(15px);
  &_title {
    margin-bottom: vw(20px);
  }

  &_line {
    height: vw(1px);
    background-color: $PINK-F3;
    width: vw(838px);
    margin-bottom: vw(40px);
  }

  &_edit {
    padding: 0 vw(270px);
    &_box {
      margin-bottom: vw(8px);
      &_title {
        margin: 0 0 vw(8px) 0;
        line-height: 23px;
      }

      input {
        border: solid vw(1px) $GRAY-DB;
        padding-left: vw(12px);
        height: vw(48px);
        width: vw(329px);
        border-radius: vw(4px);
        margin-bottom: vw(8px);
      }
      input:focus {
        border: 1px solid $PINK-SUB;
        box-shadow: 0px 0px 4px #ff3387;
      }
      input:disabled {
        background-color: $GRAY-DB;
      }
      &_failed {
        color: $RED;
        line-height: vw(17px);
        margin: 0 0 vw(16px) 0;
      }
    }

    &_notice {
      color: $GRAY-76;
      line-height: vw(17px);
      margin: vw(8px) 0 vw(16px);
    }

    .edit_address_btn {
      width: vw(329px);
      height: vw(32px);
      background-color: $PINK-LIGHT;
      color: $WHITE;
      border-radius: vw(4px);
      margin-top: vw(8px);
    }
  }
  .edit_category {
    margin: vw(8px) 0;
    text-align: left;
    padding: 0 0 vw(12px) 0;

    &_title {
      line-height: vw(23px);
      margin: vw(8px) 0 vw(20px) 0;
    }

    &_options {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }

    button {
      width: vw(64px);
      height: vw(32px);
      margin: 0 vw(12px) vw(8px) 0;

      border: 1px solid #ff79ab;
      border-radius: 10px;

      &:hover,
      &:active {
        color: $WHITE;
        background-color: $PINK-LIGHT;
      }
    }
  }
  .edit_btn {
    width: vw(329px);
    height: vw(48px);
    border-radius: vw(4px);
    background-color: $PINK-MAIN;
    color: $WHITE;
    margin-top: vw(12px);
  }
  input:focus {
    border: 1px solid $PINK-SUB;
  }
}
