#MainNavBar {
  position: relative;

  width: 100%;
  height: vw(100px);

  padding: 0 vw(135px);
  box-shadow: 0px 3px 4px rgba(229, 229, 229, 0.65);

  .title {
    width: vw(95px); //fix__
    height: vw(24px); //fix__
    margin-right: vw(56px);
  }

  .nav-container {
    width: 100%;
    color: $GRAY_61;

    .left-nav {
      &__link + .left-nav__link {
        margin-left: vw(48px);
      }

      .btn--active {
        color: $PINK_SUB;
      }

      .btn--active {
        color: $GRAY_61;
      }
    }

    .right-nav {
      color: $GRAY_76;
      &__link + .right-nav__link {
        margin-left: vw(24px);
      }
    }
  }
}
