#comment {
  padding-top: vw(32px);
  width: 100%;
  border-bottom: 1px solid $GRAY_DB;

  header {
    margin-bottom: vw(24px);

    .user-img {
      margin-right: vw(12px);

      width: vw(42px);
      height: vw(42px);
    }

    .user-info {
      justify-content: space-around;

      &__reg-date {
        color: $GRAY_61;
      }
    }
  }
  .desc {
    margin-bottom: vw(32px);
    min-height: vw(22px);

    color: $GRAY_61;
  }
}
