.comment-input {
  margin: vw(12px) 0 vw(12px) 0;
  // margin-bottom: vw(57px); // 89-32
  &__user-img {
    margin-right: vw(20px);

    width: vw(42px);
    height: vw(42px);
  }

  &__input {
    margin-right: vw(20px);
    padding: vw(8px);

    resize: none;
    width: 100%;
    height: vw(42px);

    border: 1px solid $GRAY-DB;
    border-radius: 4px;
    outline: none;
  }

  &__input:focus {
    border: 1px solid $PINK-SUB;
    box-shadow: 0px 0px 4px $PINK-SUB;
  }

  &__regist-btn {
    width: vw(80px);
    height: vw(42px);

    border-radius: 4px;
    color: $WHITE;
    background-color: $PINK-MAIN;
  }
}
