.inline-block {
  display: inline-block;
}

.block {
  display: block;
}

.relative {
  position: relative;
}

.hidden {
  display: none;
}

.notVisible {
  visibility: hidden;
}

.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.flex {
  display: flex;

  &.column {
    flex-direction: column;
  }

  &.align-center {
    align-items: center;
  }

  &.justify-end {
    justify-content: flex-end;
  }

  &.justify-center {
    justify-content: center;
  }

  &.justify-space-between {
    justify-content: space-between;
  }

  .f-one {
    flex: 1;
  }
}
