// colors

// main colors
$black: #000000;
$pink-main: #ee216e; // 메인버튼, 로고,
$pink-sub: #ff3387; // 메뉴 선택시, 서브버튼,stroke, icon
$pink-light: #ff79ab; // 라인
$white: #ffffff;
$backcolor: #fffbfd;

// social colors
$kakao-yellow: #ffeb00;
$Kakao-brown: #3c1e1e;
$naver: #03c75a;

// alert colors
$red: #ff1616;
$blue: #0038ff;

// pink
$pink-f3: #fff3f3; // 연한 line

// gray
$gray-cb: #cbcbcb;
$gray-db: #dbdbdb; // box border, btn border,
$gray-76: #767676; // nav login text,
$gray-61: #616161; // nav menu text
$gray-f3: #f3f3f3;
$gray-9e: #9e9e9e; // input text
$gray-32: #323232; // text
$gray-ed: #ededed;

// temp 임시값
$skyblue: #03a9f4;
$navy: #2c2b7a;
